*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    @include respond(big-desktop){
        font-size: 18px;
    }
  }

  .section-text{
    font-size: 4rem;
    font-weight: 500;
    color: var(--text-primary);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-primary);

    
    // BIG DESKTOP RESPONSIVITY
    @include respond(big-desktop){
        .projects,
        .contact{
            margin-top: -3rem;
        }
    }

    // TABLET PORTRAIT RESPONSIVITY
    @include respond(tab-port){
        .nav{
            visibility: hidden;
        }
        
        .navigation{
            display: block!important;
        }

        .about{
            &-desc{
                &-container{
                    &-text{
                        font-size: 1.5rem!important;
                    }

                    &-icons{
                        width: 70%!important;
                    }
                }

                &-img{
                    img{
                        width: 70%!important;
                        height: 70%!important;
                    }
                }
            }
        }

        .projects{
            .project{
                &-content{

                    img{
                        width: 70%!important;
                        height: 70%!important;
                    }

                    &-btns{
                        width: 70%;
                        justify-content: space-between;
                    }

                    &-desc{
                        text-align: center;
                        padding: 0 0.5rem;
                    }
                }
            }
        }
    }

    // BREAKPOINT BETWEEN PHONE AND TABLET
    @include respond(phone-1){
        .hero{
            .container{
                .hero-text{
                    &-name{
                        font-size: 3.5rem;
                    }

                    &-role{
                        font-size: 2rem;
                    }
                }

                .hero-social{
                    width: 35%;
                }
            }
        }

        .about{
            &-desc{
                &-container{
                    &-text{
                        font-size: 1.3rem!important;
                    }

                    &-icons{
                        width: 90%!important;
                    }
                }
            }
        }

        .contact{
            .book{
                background-image: linear-gradient(105deg, rgba(255,255,255, .8) 0%,rgba(255,255,255, .8) 70%, transparent 70%), url(../imgs/john-towner-JgOeRuGD_Y4-unsplash.jpg);

                &-form{
                    width: 70%;
                }
            }
        }
    }

    // PHONE RESPONSIVITY
    @include respond(phone){

        .section-text{
            font-size: 3.5rem;
        }


        .hero{
            .container{
                .hero-text{
                    &-name{
                        font-size: 3rem;
                    }

                    &-role{
                        font-size: 1.5rem;
                    }
                }

            }
        }

        .about{
            &-desc{
                &-container{
                    &-text{
                        font-size: 1rem!important;

                        &-icons{
                            font-size: 1.3rem!important;
                        }
                    }

                }
            }
        }

        .projects{
            .project{
                &-content{
                    &-desc{
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .contact{
            .book{
                background-image: linear-gradient(to right, rgba(255,255,255, .7) 0%,rgba(255,255,255, .7) 100%), url(../imgs/john-towner-JgOeRuGD_Y4-unsplash.jpg);
                background-size: cover;

                &-form{
                    width: 100%;
                }
            }

            .form-input{
                width: 100%;
            }
        }

        .navigation{
            &-btn{
                right: 1.75rem;
            }

            &-background{
                right: 2.0625rem;
            }
        }
    }
    

    @include respond(phone-sm){
        .hero{
            .container{
                .hero-text{
                    &-name{
                        font-size: 2.5rem;
                    }

                    &-role{
                        font-size: 1.5rem;
                    }
                }

            }
        }

        .about{
            &-desc{
                &-container{
                    &-text{
                        font-size: 1.5rem!important;

                        &-icons{
                            font-size: 2rem!important;
                        }
                    }
                }

                .about-desc-container-icons{
                    width: 70%!important;
                }
                &-img{
                    display: none;
                }
            }
        }
    }

    @include respond(phone-xs){
        .hero{
            .container{
                .hero-text{
                    &-name{
                        font-size: 2rem;
                    }

                    &-role{
                        font-size: 1.2rem;
                    }
                }

                .hero-social{
                    width: 50%;
                    a{
                        font-size: 2rem;
                    }
                }

            }
        }

        .about{
            &-desc{
                &-container{
                    &-text{
                        font-size: 1.3rem!important;

                        &-icons{
                            font-size: 1.5rem!important;
                        }
                    }
                }

                .about-desc-container-icons{
                    width: 80%!important;
                }
                &-img{
                    display: none;
                }
            }
        }

        .projects{
            .project{
                &-content{
                    &-btns{
                        &-demo,
                        &-code{
                            font-size: 0.8rem;
                            padding: 0.5rem 1.2rem;
                        }
                    }

                    &-desc{
                        font-size: 1.15rem;
                    }
                }
            }
        }

    }



    




    
}


